


html {
        margin: 50;
        padding: 0;
        height: 100%;
      }

/* This is a code for Gainsboro color.  See below. */
body {
  background-color: #DCDCDC;
}

h2 {
  color: black;
}

div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}

p {
  color: black;
}
